<div ng-controller="LiberaRisorseCtrl" style="height: 100% !important;" layout-fill>
    <style type="text/css">
        .selectdemoSelectHeader {
            /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
        }
        
        .selectdemoSelectHeader .demo-header-searchbox {
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            padding: 0;
        }
        
        .selectdemoSelectHeader .demo-select-header {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
            padding-left: 10.667px;
            height: 48px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
        }
        
        .selectdemoSelectHeader md-content._md {
            max-height: 240px;
        }
    </style>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Open sidenav" ng-click="toggleLeft()" hide-gt-md>
                <i class="material-icons">menu</i>
            </md-button>
            <h2>
                <span>Libera risorse</span>
            </h2>
            <span flex=""></span>
            <span align="right">
            <a href="/marconitt/manuale_utente.html" target="_blank">
            <md-tooltip md-direction='bottom'>guida agli utenti</md-tooltip>
            <i class="material-icons">help</i>
            </a>
            </span>
        </div>
    </md-toolbar>
    <md-content layout="row" layout-align="center center" style="height: calc(100% - 64px) !important;">
        <form name="insertForm" flex="80">
            <div layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label style="color:#15629E;">Descrizione</label>
                        <textarea ng-model="event.description" placeholder="Es. Gita, Entrata posticipata, Uscita anticipata"></textarea>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-between center">

                    <md-datepicker ng-model="event.startDay" md-placeholder="Seleziona data inizio" ng-change="updateEndDate(1)" md-open-on-focus></md-datepicker>
                    <md-datepicker ng-model="event.endDay" md-placeholder="Seleziona data fine" ng-change="updateEndDate(2)" md-open-on-focus></md-datepicker>
                    <md-input-container>
                        <label>Ore</label>
                        <md-select ng-model="event.ore" data-md-container-class="selectdemoSelectHeader" multiple placeholder="Seleziona ore..">
                            <md-optgroup label="Ore">
                                <md-option value="1">1°</md-option>
                                <md-option value="2">2°</md-option>
                                <md-option value="3">3°</md-option>
                                <md-option value="4">4°</md-option>
                                <md-option value="5">5°</md-option>
                                <md-option value="6">6°</md-option>
                                <md-option value="7">7°</md-option>
                                <md-option value="8">8°</md-option>
                                <md-option value="9">9°</md-option>
                                <md-option value="10">10°</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Classe</label>
                        <md-select ng-model="event.class">
                            <md-option ng-repeat="classe in classes" value="{{classe}}">
                                {{classe}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-button class="md-raised md-primary" ng-click="insert()" ng-disabled="!event.description||!event.ore||!event.class">Libera</md-button>
            </div>
        </form>
    </md-content>
    <div layout="row" layout-sm="column" layout-align="center center" ng-show="isLoading" layout-fill>
        <md-progress-circular md-mode="indeterminate" md-diameter="200"></md-progress-circular>
    </div>

</div>
<!--aule speciali
A304
Aula magna
L042
-->