<div ng-controller="PrenotazioniUtenteCtrl" ng-init="init()" layout-fill style="height: 100% !important;overflow-y: scroll">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Open sidenav" ng-click="toggleLeft()" hide-gt-md>
                <i class="material-icons">menu</i>
            </md-button>
            <h2>
                <span ng-show="!admin">Le mie prenotazioni</span>
                <span ng-show="admin">Gestisci prenotazioni</span>
            </h2>
            <span flex=""></span>
            <span align="right">
            <a href="/marconitt/manuale_utente.html" target="_blank">
            <md-tooltip md-direction='bottom'>guida agli utenti</md-tooltip>
            <i class="material-icons">help</i>
            </a>
            </span>
        </div>
    </md-toolbar>
    <div layout="row" layout-sm="column" layout-align="center center" ng-show="isLoading" layout-fill>
        <md-progress-circular md-mode="indeterminate" md-diameter="200"></md-progress-circular>
    </div>
    <md-content ng-hide="isLoading">
        <md-tabs md-dynamic-height md-stretch-tabs="always">
            <md-tab label="{{label}}">
                <div style="">
                    <div style="margin-left: auto;margin-right: 2%;width: 6em">
                        <md-tooltip md-direction='bottom'>Vedi prenotazioni passate</md-tooltip>
                        <md-switch ng-model="passedMiePrenotazioni" ng-change="toggle(1);fillsMiePrenotazioni();" aria-label="Switch 1">Passate</md-switch>
                        <md-button ng-click="removeAll()">
                            RIMUOVI TUTTO
                        </md-button>
                    </div>
                </div>
                <md-list style="">
                    <md-list-item ng-repeat="prenotazione in fMiePrenotazioni" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>{{prenotazione.fgiorno}}</h3>
                            <h4>{{prenotazione.stanza}} - {{prenotazione.ora}}°ORA</h4>
                            <p>{{prenotazione.risorsa}}</p>
                        </div>
                        <i style="color: grey; margin-right: 3%; margin-top: 3%" ng-show="prenotazione.approvata==0&&!admin&&!isPassed(prenotazione.giorno)" class="material-icons">pan_tool<md-tooltip md-direction='bottom'>In attesa di approvazione</md-tooltip></i>
                        <i style="color:green; margin-right: 3%; margin-top: 3%" ng-show="prenotazione.approvata==1&&!admin&&!isPassed(prenotazione.giorno)" class="material-icons">done<md-tooltip md-direction='bottom'>Approvato</md-tooltip></i>
                        <md-button style="color:#2196F3; margin-right: 2%; margin-top: 2.5%;" class="md-raised" ng-click="removePrenotazione(prenotazione.id)" ng-hide="isPassed(prenotazione.giorno)" class="md-block">
                            RIMUOVI
                        </md-button>
                        <!--<a ng-disabled="disabled" style="color:red; margin-right: 2%; margin-top: 3%;cursor: pointer;" ng-click="removePrenotazione(prenotazione.giorno, prenotazione.stanza, prenotazione.risorsa, prenotazione.ora)">
                            <i class="material-icons">delete</i>
                        </a>-->
                        <md-divider></md-divider>
                    </md-list-item>
                    <span> </span>
                </md-list>
            </md-tab>
            <md-tab ng-if="admin" label="PRENOTAZIONI PROFESSORI">
                <div style="">
                    <div style="margin-left: auto;margin-right: 2%;width: 6em">
                        <md-tooltip md-direction='bottom'>Vedi prenotazioni passate</md-tooltip>
                        <md-switch ng-model="passedAltrePrenotazioni" ng-change="toggle(2);fillsAltrePrenotazioni()" aria-label="Switch 1">Passate</md-switch>
                        <md-button ng-click="removeAll()">
                            RIMUOVI TUTTO
                        </md-button>
                    </div>
                </div>
                <md-list style="">
                    <md-list-item ng-repeat="prenotazione in fAltrePrenotazioni" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>{{prenotazione.fgiorno}}</h3>
                            <h4>{{prenotazione.stanza}} - {{prenotazione.ora}}°ORA</h4>
                            <p>{{prenotazione.risorsa}}</p>
                            <p>Richiedente: {{prenotazione.user}}</p>
                        </div>
                        <md-button ng-disabled="isPassed(prenotazione.giorno)" ng-hide='prenotazione.approvata==1||isPassed(prenotazione.giorno)' style="color:#2196F3; margin-right: 1%; margin-top: 2.5%" class="md-raised" ng-click="approva(prenotazione.id)" class="md-block">
                            APPROVA
                        </md-button>
                        <i style="color:green; margin-right: 3%; margin-top: 3%" ng-show="prenotazione.approvata==1&&!isPassed(prenotazione.giorno)" class="material-icons">done<md-tooltip md-direction='bottom'>Approvato</md-tooltip></i>
                        <md-button ng-hide="isPassed(prenotazione.giorno)" style=" color:#2196F3; margin-right: 2%; margin-top: 2.5%" class="md-raised" ng-click="nonApprova(prenotazione.id)" class="md-block">
                            NON APPROVA
                        </md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <span> </span>
                </md-list>
            </md-tab>
            <md-tab ng-if="admin" label="EVENTI">
                <div style="">
                    <div style="margin-left: auto;margin-right: 2%;width: 6em">
                        <md-tooltip md-direction='bottom'>Vedi eventi passati</md-tooltip>
                        <md-switch ng-model="passedEventi" ng-change="toggle(3);fillsEventi()" aria-label="Switch 1">Passati</md-switch>
                        <md-button ng-click="removeAll()">
                            RIMUOVI TUTTO
                        </md-button>
                    </div>

                </div>
                <md-list style="">
                    <md-list-item ng-repeat="evento in fEvents" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>{{evento.fgiorno}}</h3>
                            <h4>Orario: {{evento.oraInizio}} - {{evento.oraFine}}</h4>
                            <p>Descrizione: {{evento.descrizione}}</p>
                            <p>Classi: {{evento.classi}}</p>
                            <p>Aule: {{evento.stanze}}</p>
                        </div>
                        <md-button style="color:#2196F3; margin-right: 2%; margin-top: 2.5%;" class="md-raised" ng-click="removeEvento(evento.id)" ng-hide="isPassed(evento.giorno)" class="md-block">
                            RIMUOVI
                        </md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <span> </span>
                </md-list>
            </md-tab>
        </md-tabs>
    </md-content>
</div>