<md-dialog aria-label="{{ dayString }}" id="dayDialogElement">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true" style="cursor: pointer;" ng-click="previousDay()">
                    <svg version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <g><polygon points="15.4,7.4 14,6 8,12 14,18 15.4,16.6 10.8,12 "></polygon></g></svg>
                    <md-tooltip md-direction='top'>Giorno precedente</md-tooltip>
                </md-icon>

                <h2 style="padding-left: 2.3%; text-align: center; width: 100%">{{ dayString }}</h2>
                <span flex></span>

                <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true" style="transform: rotate(180deg); cursor: pointer;" ng-click="nextDay()">
                    <svg version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <g><polygon points="15.4,7.4 14,6 8,12 14,18 15.4,16.6 10.8,12 "></polygon></g></svg>
                    <md-tooltip md-direction='top'>Giorno successivo</md-tooltip>
                </md-icon>

                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                    <md-tooltip md-direction='top'>Chiudi</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-tabs md-dynamic-height md-stretch-tabs="always">
                <md-tab label="PRENOTA">
                    <md-content ng-controller="PrenotazioneCtrl" ng-init="init(day)">
                        <md-content layout-padding id="contentPrenotazione">
                            <div layout="row" ng-hide="isHoliday">
                                <md-input-container>
                                    <label>Seleziona</label>
                                    <md-select ng-model="sRoomType" ng-change="clearMdSelect();getPrenotazioni();" size="20">
                                        <md-option>
                                            LABORATORIO
                                        </md-option>
                                        <md-option>
                                            AULA
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-show="sRoomType=='AULA'">
                                    <label>Aula</label>
                                    <md-select ng-model="sRoom" ng-change="getPrenotazioni()">
                                        <md-option>Qualsiasi</md-option>
                                        <md-option ng-repeat="classroom in classrooms" value="{{classroom}}">
                                            {{classroom}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-show="sRoomType=='LABORATORIO'">
                                    <label>Lab</label>
                                    <md-select ng-model="sRoom" ng-change="getPrenotazioni()">
                                        <md-option>Qualsiasi</md-option>
                                        <md-option ng-repeat="lab in labs" value="{{lab}}">
                                            {{lab}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>Ora</label>
                                    <md-select multiple ng-model="sHour" ng-show="sRoomType" ng-change="getPrenotazioni()" size="20">
                                        <md-option value=1>1°</md-option>
                                        <md-option value=2>2°</md-option>
                                        <md-option value=3>3°</md-option>
                                        <md-option value=4>4°</md-option>
                                        <md-option value=5>5°</md-option>
                                        <md-option value=6>6°</md-option>
                                        <md-option value=7>7°</md-option>
                                        <md-option value=8>8°</md-option>
                                        <md-option value=9>9°</md-option>
                                        <md-option value=10>10°</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-show="sRoomType">
                                    <label>Ripetizione</label>
                                    <input type="number" ng-model="repetition" ng-keyup="saveRip();" ng-show="sRoomType" size="20">
                                </md-input-container>
                            </div>

                            <div layout="row" layout-sm="column" layout-align="center center" ng-show="isLoading" layout-fill>
                                <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
                            </div>
                            <div layout="row" layout-align="center">
                                <!--LA PRIMA<div compile="htmlTable" id="orario" class="scroll-container" style="overflow: auto;"></div>-->
                                <div compile="htmlTable" id="orario" class="gantt-scrollable" gantt-scroll-sender=""></div>
                            </div>
                        </md-content>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>